In [12]:
data = [2,3,'reddy',891,'murali',2,'MURALI']
data.append(23)
data2 = data.copy()
print(data.count('murali'))
data.extend([230,8541,'raju',99,'tarun'])

print(data2)
print(data)

1
[2, 3, 'reddy', 891, 'murali', 2, 'MURALI', 23]
[2, 3, 'reddy', 891, 'murali', 2, 'MURALI', 23, 230, 8541, 'raju', 99, 'tarun']

In [13]:
data.index("murali")

4

In [25]:
data.insert(2,'surya')
print(data)
data.remove('surya')
print(data)
print(data.count('surya'))

[2, 3, 'surya', 'surya', 'reddy', 891, 'murali', 2, 'MURALI', 23, 230, 8541, 'raju', 99, 'tarun']
[2, 3, 'surya', 'reddy', 891, 'murali', 2, 'MURALI', 23, 230, 8541, 'raju', 99, 'tarun']
1

In [24]:
data.remove('surya')
print(data)

[2, 3, 'surya', 'reddy', 891, 'murali', 2, 'MURALI', 23, 230, 8541, 'raju', 99, 'tarun']

In [30]:
data.remove(99)
print(data)

[3, 'surya', 'reddy', 891, 'murali', 'MURALI', 23, 230, 8541, 'raju', 'tarun']

In [31]:
data.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [38]:
s = {2,66,55,874,5,494,48,854,65}
print(s)

{65, 2, 66, 5, 874, 494, 48, 854, 55}

In [41]:
s2=set((32,78,95,48,32,15,2,66,874,854,65))
print(s-s2)

{5, 494, 55}

In [45]:
dic1 = [1,2,3,4]
dic2 = ['raju','ramu','rajesh','rakesh']

dic = dict(zip(dic1,dic2))
print(dic)
print(dic[2])

{1: 'raju', 2: 'ramu', 3: 'rajesh', 4: 'rakesh'}
ramu

In [49]:
import math
print(math.sqrt(25))

5.0

In [52]:
a = int(input(" a value = "))
b = int(input(" b value = "))
#c=a+b
print(a+b)

 a value = 26
 b value = 1654
1680

In [53]:
i=0
while i<5 :
    print('*'*5)
    i+=1

*****
*****
*****
*****
*****

In [54]:
i=0
while i<5 :
    print('*'*i)
    i+=1

*
**
***
****